body {
  background-color: #d4f8e8;
}
h2,
h3 {
  padding-left: 15px;
}
li {
  list-style-type: none;
  text-align: left;
  font-size: 11px;
}
.container {
  font-family: "Quicksand", sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(111, 231, 176) 0%,
    rgb(154, 198, 242) 100.2%
  );
  border-color: #76b39d;
  color: #155e63;
  padding: 9px;
  margin: 30px auto;
  max-width: 600px;
  margin-bottom: 5px;
}
.icon {
  max-width: 60px;
  margin-bottom: 10px;
  filter: drop-shadow(0 0 0.5rem #155e63);
  display: block;
  margin: 8px auto;
}
.btn-primary {
  border-color: transparent;
  text-align: center;
  display: inline !important;
}
.btn-primary:hover {
  border-color: transparent;
}

.card {
  border-color: #76b39d;
  background-color: rgba(195, 231, 218, 0.8) !important;
}
.search-bar {
  margin-top: 10px;
}
.city-info {
  text-align: center;
  padding-top: 28px;
}
.local-info {
  margin-top: 10px;
  padding: 10;
  margin-bottom: 15px;
  max-width: 190px;
}
.local-summary {
  font-size: 18px;
  font-style: italic;
}
.local-time {
  color: #4a83b6;
}
.middle-card {
  margin: 0 auto;
}
.middle-card.temp {
  color: #4a83b6;
}
.current-temp {
  font-size: 23px;
  text-align: right;
}

.current-temp-convert {
  font-size: 23px;
  font-style: italic;
  text-decoration: none;
  color: #155e63;
  display: inline;
}

.card-body {
  color: #76b39d;
}
.forecast {
  font-size: 13px;
}
.weather-forecast-temp-min {
  opacity: 0.7;
}
.forecast-icon {
  display: block;
  margin: 0;
  position: relative;
  left: -7px;
}
.rainbow {
  display: block;
  margin: 0 auto;
  max-width: 60px;
  padding: 5px;
}
.coder {
  display: inline;
  margin: 0 auto;
  max-width: 130px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
}
.coder:hover {
  border-color: transparent;
  cursor: pointer;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(222, 168, 248) 0%,
    rgb(168, 222, 248) 21.8%,
    rgb(189, 250, 205) 35.6%,
    rgb(243, 250, 189) 52.9%,
    rgb(250, 227, 189) 66.8%,
    rgb(248, 172, 172) 90%,
    rgb(254, 211, 252) 99.7%
  );
}
